#skip-link {
    
}

#skip-link, #page-wrapper, #sidebar-first, #sidebar-second, #content, .one-sidebar #content, #footer {
    width: 100%;
    min-width: auto;
    
    /*@media (min-width: $screen-phone) {
        width: $screen-phone;
    }
    
    @media (min-width: $screen-tablet) {
        width: $screen-tablet;
    }
    
    @media (min-width: $screen-desktop) {
        width: $screen-desktop;
    }
    
    @media (min-width: $screen-lg-desktop) {
        width: $screen-lg-desktop;
    }*/
}

#page {
    
}

#header {
    
}

#messages {
    
}

#main-wrapper {
    
}

#main {
    
}

#breadcrumb {
    
}

#sidebar-first {
    
} 

#sidebar-second {
    
}

#content {
    // Civicrm event
    .crm-event-info-form-block {
        
        // Civicrm event all
        .event-info {
            .label {
                width: auto;
            }
            
            .content {
                float: left;
                margin-left: $padding-base;
            }
        }
        
        // Civicrm event overwrite
        .event_map-section {
            .content {
                width: 100%;
                margin-left: 0;
            }
            
            #google_map {
                max-width: 100%;
            }
        }
        
        // Civicrm event action
        .action-link {
            padding: 0;
        }
    }
    
    // Civicrm contribution
    .crm-contribution-main-form-block {
        
        // Civicrm contribution price
        #priceset {
            .label {
                float: none;
                text-align: left;
                
                @media (min-width: $screen-phone) {
                    float: left;
                    text-align: right;
                }
            }
            
            .content {
                margin-left: 0;
                
                @media (min-width: $screen-phone) {
                    margin-left: 19%;
                }
            }
            
            // Civicrm contribution price overwrite fot total
            .section-pricesetTotal {
                .label {
                    float: left;
                    width: auto;
                    
                    @media (min-width: $screen-phone) {
                        width: 17%;
                    }
                }

                .content {
                    float: left;
                    margin-left: $padding-base;
                    
                    @media (min-width: $screen-phone) {
                        float: none;
                        margin-left: 19%;
                    }
                }
            }
        }
        
        // Civicrm contrubtion e-mail
        .email-5-section {
            .label {
                float: none;
                width: auto;
                
                text-align: left;
                
                @media (min-width: $screen-phone) {
                    float: left;
                    width: 17%;

                    text-align: right;
                }
            }
            .content {
                margin-left: 0;
                
                @media (min-width: $screen-phone) {
                    margin-left: 19%;
                }
            }
        }
    }
}

#footer-wrapper {
    padding: ($padding-base * 2 + 5) 0 ($padding-base * 2);
    
    .section {
        padding: 0 $padding-base;
    }
}

#footer {
    
}